h1 {font-size: 4.375em; color: #fff; margin: 1em 0;}

#calendario{display: flex; justify-content: center; margin: 5em 0; flex-direction: column;}
#calendario img{ height: 31.25em;}
.contenedor-calendario{
    width: 70%;
    margin: 1em auto;
}

/* --------------------------------------------------------- */
/* -----------------------RESPONSIVE------------------------ */

/* Telefono */
@media screen and (max-width: 47em){
    /* Texto */
    h1{font-size: 3.5em; margin: 1em 0 0;}

    /* Calendario */
    #calendario{display: flex; justify-content: center; margin: 5em 0; flex-direction: column;}
    #calendario img{ height: auto; width: 100%;}
    .contenedor-calendario{
        width: 100%;
        margin: 1em auto;
        height: auto;
    }
}

