
main{
    width: 100% !important;
}


/*DESCRIPCION GENERAL DEL CURSO*/


#descripcion-del-curso {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#informacion-curso{width: 48%;}

#informacion-curso h1 {
    font-size: 3.125em;
}

#informacion-curso h3 {
    color: #dc8df2ca;
    font-size: 1.875em;
}

#informacion-curso li{ font-size: 1.25em;}

#informacion-curso #destacado {
    font-weight: bold;
}

#informacion-curso .botones {
    display: flex;
    justify-content: space-around;
    height: 2.5em;
    margin-top: 4.375em;
}
.NaNem{font-size: 1.5625em;}
.NaNem{padding: 0.5em;}

#informacion-curso a {

    text-decoration: none;
    color: #1F1F22;
    background-color: #E2F26B;  

    border-radius: 0.625em;
    width: 9.375em;
    text-align: center;
    font-size: 1.25em;
    line-height: 2.5em;
}

#informacion-curso a:hover{
    background-color: #e2f26be6;
    transition: 0.2s;
}

.modal{
    height: 25em;
    width: 56.25em;
    display: flex;
    flex-direction: column;
    background-color: #2a3a41;
}
.modal__java{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.texto-centrado{text-align: center;}
.NaNem{height: 7.5em;}
.NaNem{font-size: 2.1875em;}

.ocultar{display: none;}

#imagen-conteiner{
    width: 37%;
    position: relative;
   /*  overflow: hidden; */
}

#imagen-conteiner img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 0.625em;
}

/*CONTENIDOS POR CLASE*/

#contenidos-por-clase {
    width: 50%;
    margin: auto;
    margin-top: 12.5em;
    /* padding: 3.125em; */
}

#contenidos-por-clase h2{
    text-align: center;
    color: #E2F26B;
}

#contenidos-por-clase h3 {
    padding: 0.625em 0em;
    color: #dc8df2ca;
    font-size: 1.875em;
}

#lista-de-contenidos-del-curso{
    border: 0.125em solid #534e54;
    padding: 1.875em;
}



#titulo-videos-complementarios {
    display: flex;
    justify-content: space-between;
    padding: 0.5625em;
    /* border: 0.0625em solid rgba(26, 37, 61, 0.857); */
}

.contenido-curso{ margin-bottom: 0.9375em;}

#conteiner-lista-videos li {
    display: flex;
    padding: 0.625em;
    justify-content: space-between;
    border: 0.0625em solid #534e54;
}

.examenes{margin: 0.625em 0;}

/*DATOS DEL PROFESOR*/

#informacion-del-profesor{/* Section */
    margin: auto;
    width: 90%;
}
#informacion-del-profesor h2{
    color: #E2F26B;
    /* padding: 1.875em 1.875em; */
}

#contenedor-profe {
    background-color: #2B2C32;
    border-radius: 0.625em;
    margin: auto;
    padding: 1.25em ;
    /*background-color: #1e6eb0;*/
}


/* #informacion-del-profesor h2 {
    padding: 1.25em 0em;
} */

#conteiner-carta-profesor {
    display: flex;
    justify-content: center;
}

#imagen-conteiner-profesor {
    
    width: 12.5em;
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0em;
}

#imagen-conteiner-profesor .fa-user-tie {
    background-color: #2a3a41;
    font-size: 6.25em;
    text-align: center;
    border: 0.0025em solid #121a21;
    border-radius: 50%;
    padding: 0.25em;
    color: #878c8e;
}

#conteiner-datos-profesor {
    width: 75%;
}

#conteiner-datos-profesor h3 {
    /* padding: 0.625em 0em; */
    color: #dc8df2ca;
    font-size: 1.875em;
}

#conteiner-datos-profesor .estrella {
    color: yellow;
}

/*//////---CURSOS RELACIONADOS---////////////*/

#cursos-relacionados{margin-top: 9.375em; margin-bottom: 6.25em;}

#cursos-relacionados h2{color: #E2F26B;text-align: center;}


#Destacados {margin-top: 9.375em; margin-bottom: 6.25em;}

#Cursos_destacados {display: flex; justify-content: space-evenly; /* flex-wrap: wrap; */}

#Cursos_destacados .destacados {background-color: #2B2C32; height: 20em; width: 14em; padding: 1.47em; border-radius: 0.3125em; margin: 1em;}

#Cursos_destacados .destacados h3{color: #fff; font-size: 1.875em; font-weight: 500; margin: 0;}
#Cursos_destacados .destacados p{font-size: 0.825em; color: #acacac; line-height: 1.25em;}
#Cursos_destacados .destacados span{font-weight: 700;}
#Cursos_destacados .destacados img {height: 0.625em;}

#Cursos_destacados .destacados button {height: 3.125em; width: 100%; margin-left: auto; margin-right: auto; background-color: #534e54; border: none; border-radius: 0.3125em; color: #E2F26B;}
#Cursos_destacados .destacados button:hover {background-color: #39363a; cursor: pointer; transition: 0.4s;}
#Cursos_destacados .destacados .boton_precio {display: flex; justify-content: center; height: 20;}

.datos{display: flex; flex-direction:column; justify-content:center; height: 40%;}
.precio{ height: 38%; padding-bottom: 10%;}


@media screen and (max-width:64em){/* pc */
    body{
        font-size:95%;
    }

    #descripcion-del-curso {
        flex-direction: column-reverse;
    }
    
    #informacion-curso{width: 90%;}

    #imagen-conteiner{
        width: 90%;
    }



    /* CURSOS RELACIONADOS */

    #Cursos_destacados{
        flex-wrap: wrap;
        }

#Cursos_destacados .destacados p{
    font-size: 0.825em; 
    }
} 

@media screen and (max-width:48em){/* tablet */
    body{
        font-size:90%;
    }

   

    #conteiner-carta-profesor {
        display: flex;
        justify-content: space-between;
    }

    #imagen-conteiner-profesor {
        width: 9.8em;
    }

    #imagen-conteiner-profesor .fa-user-tie {
        font-size: 5.25em;
        
    }

/* CURSOS RELACIONADOS */

#Cursos_destacados .destacados {
        padding: 1.475em;
    }

#Cursos_destacados .destacados p{
    font-size: 0.925em; 
    }

    


}

@media screen and (max-width:30em) {/* movil */
    body{
        font-size:80%;
    }

    #imagen-conteiner-profesor {
        width: 6.0em;
    }

    #imagen-conteiner-profesor .fa-user-tie {
        font-size: 4.20em;
        
    }


/* CURSOS RELACIONADOS */

#Cursos_destacados {

    flex-direction: column;
    align-items: center;

}



#Cursos_destacados .destacados p{
    font-size: 0.925em; 
    }

    .precio {
        height: 32%;
        padding-bottom: 10%;
    }



}

