@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
* {
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #1F1F22;
    color: white;
}

a{text-decoration: none;}

/*------------------------------- HEADER nav ---------------------------------*/
nav{display: flex; justify-content: space-between; height:50px; margin: 20px 20px;}
nav span{font-size: 40px; font-family: 'Bruno Ace', cursive; color: #DC8DF2}
nav #nav_cat{display: flex; justify-content: space-around; width: 700px; align-items:center;}
nav a{font-size: 20px; color: #fff;}

#carrito_buscador input{border-radius: 20px; width: 300px; background-color: rgba(235, 229, 229, 0.928); border-color: #DC8DF2; height: 30px;}
#carrito_buscador{ display: flex; flex-direction: row; justify-content: space-around; align-items: center; width: 25%;}
#carrito{ display: flex;flex-direction: row; align-items: center;}
#carrito img {height: 40px;}
#carrito p {color: #fff; background-color: #DC8DF2; line-height: 30px; border-radius: 50%; font-size: 25px; height: 25px; width: 25px; text-align: center;}




main {
    color: #fff;
    line-height: 25px;
}



/*DESCRIPCION GENERAL DEL CURSO*/
#descripcion-del-curso {
    display: flex;

}

#informacion-curso {
    background-color: rgb(32, 40, 48);
    padding: 40px 40px 40px 90px;

}

#informacion-curso h1 {
    font-size: 30px;
    padding: 20px 0px;
}

#informacion-curso h3 {
    padding-top: 20px;
}

#informacion-curso #destacado {

    font-weight: bold;
}

#informacion-curso .botones {
    display: flex;
    justify-content: space-between;
}

#informacion-curso a {
    margin-top: 20px;
    text-decoration: none;
    color: #e5e5e5;
    background-color: #09abf0;
    padding: 10px;
    border-radius: 10px;
}

#imagen-conteiner {
    width: 788px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121a21;
}

#imagen-conteiner img {
    width: 540px;
    border-radius: 20px;
}

/*CONTENIDOS POR CLASE*/

#contenidos-por-clase {
    width: 50%;
    margin: auto;
    padding: 50px;
}

#contenidos-por-clase h3 {
    padding: 10px 0px;
}



#titulo-videos-complementarios {
    display: flex;
    justify-content: space-between;
    padding: 9px;
    border: 1px solid rgba(26, 37, 61, 0.857);
}

#conteiner-lista-videos li {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid rgba(26, 37, 61, 0.857);
}

/*DATOS DEL PROFESOR*/
#informacion-del-profesor {
    padding: 30px 30px;
    background-color: #1f2b3587;
}

#contenedor-profe {
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    /*background-color: #1e6eb0;*/
}


#informacion-del-profesor h2 {
    padding: 20px 0px;
}

#conteiner-carta-profesor {
    display: flex;
    justify-content: space-around;
}

#imagen-conteiner-profesor {
    width: 800px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#imagen-conteiner-profesor .fa-user-tie {
    background-color: #2a3a41;
    font-size: 100px;
    text-align: center;
    border: 1px solid #121a21;
    border-radius: 50%;
    padding: 20px;
    color: #878c8e;
}

#conteiner-datos-profesor .estrella {
    color: yellow;
}

/*//////---CURSOS RELACIONADOS---////////////*/
#cursos-relacionados{
    padding: 60px 20px;
    color: #ffffff;
}
#cursos-relacionados h2{
    padding: 22px;
    text-align: center;
    font-size: 30px;
}

#Cursos_destacados {
    display: flex;
    margin: auto;
    justify-content: space-between;
    justify-content: center;
    width: 90%;
    line-height: 45px;
}


#Cursos_destacados .destacados {
    background-color: #2B2C32;
    height: 300px;
    width: 20%;
    padding: 30px;
    border-radius: 5px;
    margin: 20px;
}

#Cursos_destacados .destacados h3{color: #fff; font-size: 30px; font-weight: 500; margin: 0;}
#Cursos_destacados .destacados p{font-size: 10px; color: #acacac; line-height: 20px;}
#Cursos_destacados .destacados span{font-weight: 700;}
#Cursos_destacados .destacados img {height: 10px;}


#Cursos_destacados .destacados button {height: 50px; width: 100%; margin-left: auto; margin-right: auto; background-color: #534e54; border: none; border-radius: 5px; color: #E2F26B;}
#Cursos_destacados .destacados button:hover {background-color: #39363a; cursor: pointer;}
#Cursos_destacados .destacados .boton_precio {display: flex; justify-content: center; height: 20;}


/* --------------------------------FOOTER------------------------------------ */
/* footer hr{width: 100% !important;} */
footer {width: 70%; margin: auto;}
/* Redes */
/* Colores de los iconos cambiados desde svg */
#redes{display: flex;align-items: center;justify-content: space-between;}
#redes h2{font-size: 40px; font-family: 'Bruno Ace', cursive; color: #DC8DF2}
#redes div{display: flex; justify-content: space-around; align-items: center;width: 40%;}
#redes .img_footer{height: 30px;}
#redes .img_footer:hover{cursor: pointer;}

/* links */
#links_footer{display: flex; width: 40%;margin: 0 0 80px 0; justify-content: space-between;}
#links_footer div{display: flex;flex-direction: column;}
#links_footer h3{font-size: 14px; margin: 7px 0;}
#links_footer a{color: #83AAF7; margin: 7px 0;}

/* ayuda */
#ayuda{text-align: center;}