/* /////////////// Estilos y clases INSCRIPCIÓN /////////////// */

body{font-size: 100%;}

main{width: 100% !important;}

.seccion_inscripcion {
    display: flex;
    flex-direction: column;
    padding-bottom: 6.25em;
    width: 100%;
    
}

article{
    width: 85%;
    margin: auto;
}

.titulos{
    /* padding-left: 1.5em; */
}

.titulos h1 {
    width: 100%;
    font-size: 4em;
    margin: 1.3em 0em 1em 0em;
}

.titulos h2 {
    width: 100%;
    /* padding-left: 1.6875em; */
    margin: 1em 0em 1.4em 0em;
    font-size: 2em;
}

.formulario_inscripcion {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2.5em;
}


.formulario_inscripcion input {
    font-size: 1.2em;
    border-radius: 0.5em;
    border: 0.125em solid white;
    padding: 0.3em;
    outline: none;
    width: 9em;
}

.formulario_inscripcion input:focus {
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: #d5ffca;
}

.formulario_inscripcion__div {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 0.9375em;
    
}

#dni{width: 7em;}
#email{width: 15em;}

#telefono{width: 10.6em;}

.formulario_inscripcion p {
    font-size:1.8em;
    font-weight: bold;
   /*  margin-top: 0.625em; */
    display: flex;
    align-items: center;
    gap: 1.375em;
}


.texto_agregar_persona{
    margin: auto;
    
}

.contenedor_de_agregar_inscribirse {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.display_flex_direccion_left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.p__bloque-agregar-persona{ 
    display: flex;
    margin:1em 0 0 0;
    
}
.p__bloque-inscribisrse{
    display: flex;
    margin: 1.5em 0 0 0;
}


.totalPesos{
    margin: 0 1.25em 0 0;
    font-size: 1.8em;

}

.inscribirse {
    background-color: rgb(0 179 255);
    font-family: inherit;
    font-size: 1.2em;
    padding: 0.4375em;
    border-radius: 0.625em;
    border: 0.125em solid rgb(103 173 224);

    cursor: pointer;
}

.inscribirse:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.7s;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.quitar {
    font-size: initial;
    background-color: rgb(255, 14, 14);
    color: white;
    border-radius: 50%;
    padding: 0.0625em;
}
.quitarValores{
    font-size: initial;
    background-color: rgb(255, 14, 14);
    color: white;
    border-radius: 50%;
    padding: 0.0625em;
}

.quitar:hover {
    transform: rotate(180deg);
    background-color: #333;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
}
.quitarValores:hover {
    transform: rotate(180deg);
    background-color: #333;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
}

.mas {
    font-size: xx-large;
    background-color: rgb(102, 255, 14);
    color: #333;
    border-radius: 50%;
    padding: 0.1em;
    margin: 0.4em;
    border: 0.125em solid black;
    box-shadow: 0.125em 0.125em 0.3125em rgb(40, 38, 38);
}

.simbolo_agregar{
    cursor: pointer;
}

.mas:hover {
    transform: rotate(180deg);
    background-color: yellow;
    transition-duration: 0.5s;
    cursor: pointer;
}

/****** SECCION MODAL*****/

.section-modal{ 
    position: fixed; /* ocupa toda la pantalla visible */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.modal{
    margin: auto;
    /* height: 25em; */
    width: 50em;
    display: flex;
    flex-direction: column;
    background-color: #2a3a41;
    position: relative;

}
.texto-centrado{text-align: center;margin: 0.7em;}

.modal__java{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35em;
}

.ocultar{display: none;}


.icono_cerrar{
    position: absolute;
    top: 0.9em;
    right: 0.4em;

    cursor: pointer;
}
.icono_cerrar:hover{
    color: red;
}

.nodoContenedorDeInscriptos{
    display: flex;
    justify-content: space-between;
}

.nombre-apellido, .dni-nuevo{

    margin: 0.5em 0.5em;
}




/* Responsive */

@media screen and (max-width:64em ){/* pc */
    body{
        font-size: 90%;
    }
    main{
        width: 100% !important;
    }
    article{
        width: 90%;
    }
}



@media screen and (max-width:48em ){/* tablet */
    body{
        font-size: 85%;
    }
    main{
        width: 100% !important;
    }
    article{
        width: 90%;
    }
    input{
        width: 5em;
    }

    .formulario_inscripcion input {
        
        padding: 0.5em;
        width: 11em;
    }


}


