@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

/* h1{font-family: 'Josefin Sans', sans-serif;} */

*{
    box-sizing: border-box; 
    font-family: 'Josefin Sans', sans-serif;
    
}

body{
    background-color: #1F1F22;
    color: white;
    font-size: 100%;
}

p{
    font-size: 1.3em;
    line-height: 1.3em;
}

a{text-decoration: none;}

hr{ height: 0.125em; border-color: #534e54;}

h2{font-size: 2.8125em;}

/*------------------------------- HEADER nav ---------------------------------*/
nav{display: flex; justify-content: space-between; height:3.125em; margin: 1.25em 1.25em;}
nav span{font-size: 2.5em; font-family: 'Bruno Ace', cursive; color: #DC8DF2}
nav #nav_cat{display: flex; justify-content: space-around; width: 43.75em; align-items:center;}
nav a{font-size: 1.25em; color: #fff;}

#carrito_buscador input{border-radius: 1.25em; width: 18.75em; background-color: rgba(235, 229, 229, 0.928); border-color: #DC8DF2; height: 1.875em;}
#carrito_buscador{ display: flex; flex-direction: row; justify-content: space-around; align-items: center; width: 25%;}
#carrito{ display: flex;flex-direction: row; align-items: center;}
#carrito img {height: 2.5em;}
#carrito p {color: #fff; background-color: #DC8DF2; line-height: 1.875em; border-radius: 50%; font-size: 1.5625em; height: 1.5625em; width: 1.5625em; text-align: center;}

/*---------------------------------- MAIN-------------------------------------*/

main{width: 80%; margin: auto;}

/* --------------------------------FOOTER------------------------------------ */
/* footer hr{width: 100% !important;} */
footer {width: 80%; margin: auto;}
/* Redes */
/* Colores de los iconos cambiados desde svg */
#redes{display: flex;align-items: center;justify-content: space-between;}
#redes h2{font-size: 2.5em; font-family: 'Bruno Ace', cursive; color: #DC8DF2}
#redes div{display: flex; justify-content: space-around; align-items: center;width: 40%;}
#redes .img_footer{height: 1.875em;}
#redes .img_footer:hover{cursor: pointer;}

/* links */
#links_footer{display: flex; width: 40%;margin: 0 0 5em 0; justify-content: space-between;}
#links_footer div{display: flex;flex-direction: column;}
#links_footer h3{font-size: 0.875em; margin: 0.4375em 0;}
#links_footer a{color: #83AAF7; margin: 0.4375em 0;}

/* ayuda */
#ayuda{text-align: center;}