main{
    margin: 0;
    padding: 0;
}

:root{
    --color-azul: #305ffd;
    --color-celeste:#55d1ea;
    --color-violeta:#ae54c6;
    --color-naranja:#deb63f;
    --color-amarillo:#ebe548;
}

main{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* padding-top: 50px; */
    padding-bottom: 50px;
}
.secciones_main{
    width: calc(50% - 20px);
    box-sizing: border-box;
}

main input{ border-radius: 10px;}

/* SECTION LEFT----- SECTION-UNO*/

h1{font-size: 70px; font-weight: bold; margin-bottom: 20px;}

.conteiner-imagen{  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-giftCard{
    background: url(/Multimedia/Gift_card/fondo03.png);
    width:350px;
    height: 350px;
}
.texto{text-align: center;margin:20px 20px}

/* SECTION RIGTH */
h3{margin-bottom: 10px;}

.sectionDos {
    display:flex;
    flex-direction: column;
    gap:5px;
    width: 30%;
}


.article-flex{display: flex;flex-direction: column; gap:5px;}

.conteiner-colores{
    display: flex;
    gap:20px;
}

.circulo__conteiner-colores{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.circulo-azul{background-color: var(--color-azul);}
.circulo-celeste{background-color: var(--color-celeste);}
.circulo-violeta{background-color: var(--color-violeta);}
.circulo-naranja{background-color: var(--color-naranja);}
.circulo-amarillo{background-color: var(--color-amarillo);}

.conteiner-pixeles{
    display: flex;
    gap:20px;
    line-height: 0px;
}

.article-monto{margin-top: 30px; margin-bottom: 10px;}

.conteiner-ubicacion{display:flex;gap: 20px;}
.cuadrado{width: 40px;height: 40px; border: 1px solid  ;position: relative;}
.rectangulo{width: 20px;height: 10px;background-color: var(--color-naranja);}
.rectanguloAbajoDerecha{position: absolute;bottom: 0;right: 0;}
.rectanguloArribaIzquierda{position: absolute;top:0;left:0}
.rectanguloArribaDerecha{position: absolute;top:0;right: 0;}

.fondos{display: flex;gap:20px;}
.fondo{width: 40px;height: 40px;}
.fondo1{background: url(/Multimedia/Gift_card/fondo03.png) no-repeat;}
.fondo2{background: url(/Multimedia/Gift_card/fondo04.png) no-repeat;}
.fondo3{background: url(/Multimedia/Gift_card/fondo05.png) no-repeat;}
.fondo4{background: url(/Multimedia/Gift_card/fondo06.png) no-repeat;}
.fondo5{background: url(/Multimedia/Gift_card/fondo07.png) no-repeat;}

article a{
    text-decoration: none;
    background-color:#E2F26B;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

#monto{padding: 5px; font-size: 15px;}
#nombre{padding: 5px;font-size: 15px;}
span{font-size: 20px;}

.article-confirmacion{display: flex; justify-content: end;}
