
:root{
    --color-azul: #305ffd;
    --color-celeste:#55d1ea;
    --color-violeta:#ae54c6;
    --color-naranja:#deb63f;
    --color-negro:#000000;
}

main{
    width: 100% !important;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap:0.5em;
}
.secciones_main{
    width: calc(50% - 20px);
    box-sizing: border-box;
}

main input{ border-radius: 10px;}

/* SECTION LEFT----- SECTION-UNO*/

h1{font-size: 50px; font-weight: bold; margin-bottom: 20px;max-width: 8em;}

.conteiner-imagen{  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-giftCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background: url(/Multimedia/Gift_card/fondo03.png);
    width:400px;
    height: 400px;
    position: relative;
}

.conteiner-giftCard img{width: 100%; height: 100%;}

.giftCardPara{position: absolute;      top: 79px; left: 117px;}
.nombreDestinatario{text-align: center;}
.precio{background-color: black; padding: 5px;}

.texto{text-align: center;margin:20px 20px}

/* SECTION RIGTH */
h3{margin-bottom: 10px;}

.sectionDos {
    display:flex;
    flex-direction: column;
    gap:5px;
    
}


.article-flex{display: flex;flex-direction: column; gap:5px;}

.conteiner-colores{
    display: flex;
    gap:20px;
}

.circulo__conteiner-colores{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* COLORES */
.circulo-azul{background-color: var(--color-azul);}
.circulo-celeste{background-color: var(--color-celeste);}
.circulo-violeta{background-color: var(--color-violeta);}
.circulo-naranja{background-color: var(--color-naranja);}
.circulo-negro{background-color: var(--color-negro);}

.azul{ color :var(--color-azul)}
.celeste{ color :var(--color-celeste)}
.violeta{ color :var(--color-violeta)}
.naranja{ color :var(--color-naranja)}
.negro{ color :var(--color-negro)}

.conteiner-pixeles{
    display: flex;
    gap:20px;
    line-height: 0px;
}

/* Tamanio fuente de nombre en giftCard*/
.t20px{font-size: 20px;}
.t28px{font-size: 28px;}
.t32px{font-size: 30px;}
.t48px{font-size: 48px;}
.t60px{font-size: 60px;}


.article-monto{margin-top: 30px; margin-bottom: 10px;}

.conteiner-ubicacion{display:flex;gap: 20px;}
.cuadrado{width: 40px;height: 40px; border: 1px solid  ;position: relative;}
.rectangulo{width: 20px;height: 10px;background-color: var(--color-naranja);}
.rectanguloAbajoDerecha{position: absolute;bottom: 0;right: 0;}
.rectanguloArribaIzquierda{position: absolute;top:0;left:0}
.rectanguloArribaDerecha{position: absolute;top:0;right: 0;}

.abajoDerecha{position: absolute;bottom: -25px; right: 0px;}
.arribaIzquierda{position: absolute;top: -25px;  left: 0px;}
.arribaDerecha{position: absolute;top: -25px; right: 0px;}

.fondos{display: flex;gap:20px;}
.fondo{width: 40px;height: 40px;}
.fondo1{background: url(/Multimedia/Gift_card/fondo03.png) ;}
.fondo2{background: url(/Multimedia/Gift_card/fondo04.png);}
.fondo3{background: url(/Multimedia/Gift_card/fondo05.png) ;}
.fondo4{background: url(/Multimedia/Gift_card/fondo06.png) ;}
.fondo5{background: url(/Multimedia/Gift_card/fondo07.png) ;} 

.fondo-img img{height: 40px; width:40px;}

article a{
    text-decoration: none;
    background-color:#E2F26B;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

#monto{padding: 5px; font-size: 15px;}
#nombre{padding: 5px;font-size: 15px;}
span{font-size: 20px;}

.article-confirmacion{display: flex; justify-content: end;}
